In [38]:
import json
import pandas as pd

def parse_2022():
    filename = './data/archive/2022.worldcup.quolification.output.jl'
    with open(filename) as f:
        data = pd.read_json(f.read(), lines=True)
    return data
data_2022 = parse_2022()
data_2022.rename(columns = {'team0':'home_team', 'team1':'away_team', 'score0': 'home_score', 'score1': 'away_score'}, inplace = True)
# area_and_stage = data_2022['area'].str.split(',', expand=True)
print(data_2022)

def parse_2002_to_2018():
    filename = './data/archive/2002-2018.worldcup.quolification.output.jl'
    with open(filename) as f:
        data = pd.read_json(f.read(), lines=True)
    return data

data_before = parse_2002_to_2018()
data_before.rename(columns = {'team0':'home_team', 'team1':'away_team', 'score0': 'home_score', 'score1': 'away_score'}, inplace = True)
print(data_before)

     year               area                  date   home_team    away_team  \
0    2022  UEFA, Group Stage    November 16, 2021    Gibraltar       Latvia
1    2022     AFC, Round Two    September 5, 2019     Thailand      Vietnam
2    2022   CAF, First Round   September 10, 2019     Eswatini     Djibouti
3    2022  UEFA, Group Stage       March 27, 2021   Montenegro    Gibraltar
4    2022           CONMEBOL     October 10, 2021    Venezuela      Ecuador
..    ...                ...                   ...         ...          ...
719  2022  UEFA, Group Stage    November 16, 2021      Finland       France
720  2022  UEFA, Group Stage    September 4, 2021     Slovakia      Croatia
721  2022     AFC, Round Two     October 10, 2019      IR Iran     Cambodia
722  2022  UEFA, Group Stage    September 5, 2021      Albania      Hungary
723  2022   AFC, Round Three     October 12, 2021      IR Iran  South Korea

     home_score  away_score                   place
0             1           3    Gibraltar, Gibraltar
1             0           0  Pathum Thani, Thailand
2             0           0                 Manzini
3             4           1   Podgorica, Montenegro
4             2           1      Caracas, Venezuela
..          ...         ...                     ...
719           0           2       Helsinki, Finland
720           0           1    Bratislava, Slovakia
721          14           0            Tehran, Iran
722           1           0         Tirana, Albania
723           1           1            Tehran, Iran

[724 rows x 8 columns]
      year          area       date    home_team   away_team  home_score  \
0     2006  southamerica 2005-11-16    Australia     Uruguay           1
1     2006  southamerica 2005-11-12      Uruguay   Australia           1
2     2006  southamerica 2005-10-12      Uruguay   Argentina           1
3     2006  southamerica 2005-10-12       Brazil   Venezuela           3
4     2006  southamerica 2005-10-12        Chile     Ecuador           0
...    ...           ...        ...          ...         ...         ...
4222  2018        africa 2015-10-08  South Sudan  Mauritania           1
4223  2018        africa 2015-10-07    Mauritius       Kenya           2
4224  2018        africa 2015-10-07   Seychelles     Burundi           0
4225  2018        africa 2015-10-07     Tanzania      Malawi           2
4226  2018        africa 2015-10-07      Comoros     Lesotho           0

      away_score                city
0              0             Sydney
1              0         Montevideo
2              0         Montevideo
3              0              Belem
4              0  Santiago De Chile
...          ...                 ...
4222           1               Juba
4223           5           Bellevue
4224           1       Roche Caiman
4225           0      Dar Es Salaam
4226           0             Moroni

[4227 rows x 8 columns]